/* Page Utilisateurs */


/* Police Poppins pour tous les éléments de formulaire */

input,
button,
textarea,
select {
    font-family: "Poppins", sans-serif;
}


/* Responsive */

@media (max-width: 768px) {
    .page-header {
        flex-direction: column;
        align-items: flex-start;
        gap: 15px;
    }
    .add-btn {
        width: 100%;
        justify-content: center;
    }
}

@media (max-width: 480px) {
    .page-title {
        font-size: 20px;
    }
}